<p>Welcome to {{title}}</p>

<h2>property binding</h2>
<input [id]="myId" value="Rohit">
<input bind-disabled="isDisabled" [id]="myId" value="Rohit"><br><br>

<h2>template reference variable</h2>
<input #myInput type="text">
<button (click)="logMessage(myInput.value)">Log</button> <br><br>

<h2>two way binding</h2>
<input [(ngModel)]="name" type="text">
{{name}}

<h2> event binding</h2>
<button (click)="onClick($event)">greet</button>
<button (click)="greating = 'Welcome Rohit'">greet</button>

{{greating}}